body {
  margin: 0;
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
  margin: auto;
  background: linear-gradient(#5c94fc, #cceeff);
}

.controls {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

button {
  font-size: 22px;
  margin: 8px;
  padding: 15px;
  border-radius: 10px;
  border: none;
}